MONGODB_URI=
MP_ACCESS_TOKEN=
NEXT_PUBLIC_SITE_URL="http://localhost:3000"
NEXT_PUBLIC_WA_PHONE=
NEXT_PUBLIC_CA_POSTAL_ORIGIN=
JWT_SECRET=

ADMIN_USERNAME=
ADMIN_PASSWORD=

RESEND_API_KEY=
EMAIL_FROM=

ARREPENTIMIENTO_TO_EMAIL=

NEXT_PUBLIC_META_PIXEL_ID=

# CAPI (server-side)
META_ACCESS_TOKEN=
META_DATASET_ID=
META_TEST_EVENT_CODE=

NODE_ENV="development"
APP_ENV="development"